<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">{{__('settings.category-form.update-title')}}</h4>
    </div>
    <form class="simcy-form" action="{{ url('Settings@updatecategory')}}" data-parsley-validate="" loader="true" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf-token" value="{{ csrf_token() }}">
        <input type="hidden" name="categoryid" value="{{ $category->id }}">
        <div class="modal-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12 ">
                        <label>{{__('settings.category-form.label.name')}}</label>
                        <input type="text" class="form-control" name="category" placeholder="{{__('settings.category-form.placeholder.name')}}" data-parsley-required="true" value="{{ $category->name }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 ">
                        <label>{{__('settings.category-form.label.type')}}</label>
                        <select class="form-control select2" name="type">
                            <option value="Income" @if($category->type == 'Income') selected @endif>
                               {{__('pages.options.income')}}</option>
                            <option value="Expense" @if($category->type == 'Expense') selected @endif>
                               {{__('pages.options.expense')}}</option>
                            </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{__('settings.button.close')}}</button>
            <button type="submit" class="btn btn-primary">{{__('settings.button.save')}}</button>
        </div>
    </form>
</div>